* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #092e20; /* Forest */
    --color2: #045149; /* Dedep */
    --color3: #E2DFD5; /* Beige */
    --bluecolor1: #033487;
    --bluecolor2:#008afe;
    --bluecolor3: white;
}



body {
  font-family: system-ui, sans-serif;
}

h1 {
  font-weight: 700;
}