---
import "../styles/global.css";
import siteData from '../data/site.json';

const pathname = Astro.url.pathname;
const pagePath = pathname === '/' ? pathname : pathname.replace(/\/+$/, '');

const pages = siteData.find(
    item => item.id === 'site'
)?.pages ?? [];

const currentPage = pages.find(page => page.slug === pagePath);
    
if (!currentPage) {
    throw new Error(`No page found for ${pathname}`)
}

const hero = currentPage.hero;

---

<div class="col-12 bg-dark text-secondary px-4 py-5">
  <div class="hero container py-5">
    <h1 class="display-5 fw-bold text-white mb-2 hero-title">{hero.title}</h1>
    <p class="hero-subtitle fs-5 mb-5">{hero.subtitle}</p>
    <slot />
  </div>
</div>
